
<h1 class="text-center text-success">Primera aplicacion con Angular</h1>
<hr>
<div class="row">
  <div class="col-4">
    <h2 class="text-info">Contador</h2>
    <app-counter></app-counter>
    <app-counter></app-counter>
  </div>
  <div class="col-4">
    <h2 class="text-success">Info Herores</h2>
    <app-heroes-hero></app-heroes-hero>
  </div>

  <div class="col-4">
    <h2 class="text-warning">Listado Herores</h2>
    <app-heroes-list></app-heroes-list>
  </div>
  
</div>
<div class="row">
  <div class="col-4">
    <h2>DBZ</h2>
    <app-dbz-main-page></app-dbz-main-page>
  </div>
</div>